
{% extends 'products/layout.html.twig' %}
{% block page_contents %}
    <h1> category_products.html</h1>
    <div>
        {% for prod in categoryProducts %}
            <div style="float:left">
                <div>{{prod.name}}</div>
                <div><img src="/uploads/photos/{{prod.photo}}"></div>
                <div>{{prod.description}}</div>
                <div>{{prod.price}}</div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
