
{% extends 'products/layout.html.twig' %}
{% block page_contents %}
    <select name="sortProductsBy" id="sortProductsBy">
        <option value="nameAsc">Name asc</option>
        <option {% if 'nameDesc' == sortProductsBy %}selected="selected"{% endif %} value="nameDesc">Name dasc</option>
        <option {% if 'price' == sortProductsBy %}selected="selected"{% endif %} value="price">Price</option>
    </select>
    <div id='products'>
        {{ include('products/products.html.twig') }}
    </div>
{% endblock %}
